.homeItem {

    flex-basis: calc((100% - 90px) / 4);
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: rgb(150, 150, 150) 10px 10px 20px;
        
        & p {
                padding: 8px 10px;
            }
   
     
}

.homeItem_image {
    max-width: 100%;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.homeItem_image:hover {
    transform: scale(1.03);
    cursor: zoom-in;
}